<div class="container-fluid">
  <div class="row">
  <div *ngFor=" let product of products; let i = index " class="col-12 product-header  ">
    <div class="red-stripe" [ngStyle]="{opacity: (i/5 + .3)%1}"></div>
    <div class="col-md-8 col-lg-4 product-image">
      <img class="img-responsive" [src]="product.productImage">


  </div>
 <div class="row">
   <div class="hanging-title col-md-3 offset-3">
     <h1>Product Title</h1>
     <p>short describtion of product</p>
   </div>
   <div class="buuu col-md-8 offset-3">
     <a [routerLink]="['/products',i]">
       <p>
         <span class="bg"></span>
         <span class="base"></span>
         <span class="text">
           Buy Now    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </span>
       </p>
     </a>

   </div>
 </div>
  </div>
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-2 product-image">-->
<!--        <img class="img-responsive" [src]="product.productImage">-->
<!--      </div>-->
<!--      <div class="col-md-6 product-info">-->
<!--        <h1>Product Title</h1>-->
<!--        <p>short describtion of product</p>-->
<!--        <div class="hr"></div>-->
<!--        <h3>Pro Display XDR-->
<!--        </h3>-->
<!--        <div class="property-box">-->
<!--          properties of this product-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  </div>
</div>
