<div class="row featured-product">
  <div class="single-product col-md-4 text-center no-gutters " *ngFor="let product of products">
    <div class="inside-product ">
      <img [src]="product.productImage"/>
      <div>
        <h3>{{product.productName}}</h3>
        {{product.productDetail}}


      </div>

      <div class="buuu">
      <a [routerLink]="['/products','1']" [queryParams]="{id:1}">
        <p>
          <span class="bg"></span>
          <span class="base"></span>
          <span class="text">
            More   <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </span>
        </p>
      </a>

      </div>
    </div>


  </div>

</div>
