<div>
  <div class="container">
    <div class="row"><div class="col"><div class="product-technologies-border"></div></div></div>
    <div class="row" id="product-technologies">
      <div class="col-md-5">
        <h2>X-TERRA 705 Technologies</h2>
      </div>
      <div class="col-md-7 product-technologies-logos">
        <div class="product-technology-heading  product-technology-heading-selected " data-id="256570">
          <img src="assets/images/V-FLEX.png" alt="technology logo VFLEX.png" title="technology logo VFLEX.png">
        </div>



      </div>
    </div>

    <div class="row"><div class="col"><div class="product-technologies-border"></div></div></div>



    <div id="project-technologies-list">
      <div class="row product-technology-details" id="product-technology-256570">
        <div class="col-md-6">
          <img src="assets/images/VFLEX-Diagram-Colour.gif" style="width: 100%">
        </div>
        <div class="col-md-6">
          <h3>VFLEX</h3>
          <div class="description">
            <p>VFLEX uses state of the art digital electronics to enhance standard single frequency detection technology. This has the advantage of providing dependable performance and improved immunity to outside interference. VFLEX technology also has an added advantage that changing the detector’s coil also automatically changes the detector’s operating frequency. This means that an X-TERRA detector can operate at different frequencies allowing the detector to be easily modified to suit different detecting conditions.</p>

            <p>VFLEX provides increased detecting performance with perfect sine wave transmission, an in-coil signal booster and coil selectable transmit frequencies.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div id="product-tech-specs-heading">
          <h2>X-TERRA 705 Tech Specs</h2>
        </div>
      </div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Application</div>
      <div class="product-tech-specs-value col-md-7" data-label="Application">Coin, Relic, Jewellery, Beach &amp; Gold Prospecting</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Technology</div>
      <div class="product-tech-specs-value col-md-7" data-label="Technology">VFLEX </div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Frequency/Transmission</div>
      <div class="product-tech-specs-value col-md-7" data-label="Frequency/Transmission">3, 7.5 &amp; 18.75kHz - change frequency by changing coils</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Coil (standard)</div>
      <div class="product-tech-specs-value col-md-7" data-label="Coil (standard)">9" Concentric lightweight, waterproof 7.5kHz.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Audio Output</div>
      <div class="product-tech-specs-value col-md-7" data-label="Audio Output">Internal speaker &amp; 6.35mm (1/4") headphone jack.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Headphones Supplied</div>
      <div class="product-tech-specs-value col-md-7" data-label="Headphones Supplied">Optional accessory.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Visual Display</div>
      <div class="product-tech-specs-value col-md-7" data-label="Visual Display">Large monochrome 76mm x 37mm (3" x 1.75") transflective LCD.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Backlight</div>
      <div class="product-tech-specs-value col-md-7" data-label="Backlight">Yes.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Product ID</div>
      <div class="product-tech-specs-value col-md-7" data-label="Product ID">722</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">USB Connectivity</div>
      <div class="product-tech-specs-value col-md-7" data-label="USB Connectivity">-</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Memory</div>
      <div class="product-tech-specs-value col-md-7" data-label="Memory">Remembers user settings even if batteries are removed.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Depth Indication</div>
      <div class="product-tech-specs-value col-md-7" data-label="Depth Indication">5 Depth indication icons.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Detect Modes</div>
      <div class="product-tech-specs-value col-md-7" data-label="Detect Modes">(2) Coin and Treasure &amp; Prospecting.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Discrimination</div>
      <div class="product-tech-specs-value col-md-7" data-label="Discrimination">Four factory Discrimination patterns that can be personalised, All Metal &amp; Iron Mask. 28 segment Discrimination scale.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Timings</div>
      <div class="product-tech-specs-value col-md-7" data-label="Timings">-</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Audio tone</div>
      <div class="product-tech-specs-value col-md-7" data-label="Audio tone">1, 2, 3, 4 &amp; Multi (28).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Audio Type</div>
      <div class="product-tech-specs-value col-md-7" data-label="Audio Type">-</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Ground Balance</div>
      <div class="product-tech-specs-value col-md-7" data-label="Ground Balance">Manual 1 to 90, Automatic, Beach, Tracking &amp; Tracking Offset.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Ground Balance Type</div>
      <div class="product-tech-specs-value col-md-7" data-label="Ground Balance Type">-</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Trash Density</div>
      <div class="product-tech-specs-value col-md-7" data-label="Trash Density">-</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Pinpoint</div>
      <div class="product-tech-specs-value col-md-7" data-label="Pinpoint">Two modes: Automatic &amp; Sizing.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Sensitivity Adjust</div>
      <div class="product-tech-specs-value col-md-7" data-label="Sensitivity Adjust">Adjustable (1 to 30).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Tune / Noise Cancel</div>
      <div class="product-tech-specs-value col-md-7" data-label="Tune / Noise Cancel">5 Channels (-2, -1, 0, 1, 2), Manual &amp; Automatic.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Threshold</div>
      <div class="product-tech-specs-value col-md-7" data-label="Threshold">Adjustable (-5 to 25).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Target Volume Adjust</div>
      <div class="product-tech-specs-value col-md-7" data-label="Target Volume Adjust">Adjustable (0 to 30).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Battery</div>
      <div class="product-tech-specs-value col-md-7" data-label="Battery">4xAA Alkaline/Carbon/Lithium or NiMH/NiCad (not included).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Low battery alert</div>
      <div class="product-tech-specs-value col-md-7" data-label="Low battery alert">Audio &amp; visual alert.</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Length</div>
      <div class="product-tech-specs-value col-md-7" data-label="Length">1220mm - 1420mm (48" - 56").</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Weight</div>
      <div class="product-tech-specs-value col-md-7" data-label="Weight">1.3kg (2.9lbs) (ex. battery).</div>
    </div>

    <div class="product-tech-specs-row row">
      <div class="product-tech-specs-label col-md-5">Warranty</div>
      <div class="product-tech-specs-value col-md-7" data-label="Warranty">3 years control box &amp; coil.</div>
    </div>


  </div>
</div>
