<section class="row page1_header">
  <div class="container">
    <div class="row ">
      <div class="col-lg-4  ">
        <a href="#" class="banner col-md-6"><div class="maxheight">
          <div class="fa fa-globe"></div>Global Research</div>
        </a>
        <a href="#" class="banner col-md-6"><div class="maxheight">
          <div class="fa fa-lightbulb-o"></div>Creative Ideas</div>
        </a>
        <a href="#" class="banner col-md-6"><div class="maxheight1">
          <div class="fa fa-cog"></div>New Services</div>
        </a>
        <a href="#" class="banner col-md-6"><div class="maxheight1">
          <div class="fa fa-briefcase"></div>Pro Management</div>
        </a>
      </div>
      <div class="col-lg-8">
        <h2>Strong <br> Stable <br> Safe</h2>
        We help you run your business  in a successful way
      </div>
    </div>
  </div>
</section>
