<div class="container-fluid">
  <div class="row" id="product-overview-image">

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-1">
          <h2>Overview</h2>
          <p>A versatile all-purpose detector capable of all types of detecting, from coin &amp; treasure to relics,
            beach
            and even gold prospecting.&nbsp;</p>

          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 product-features-heading">
      <h2>Features</h2>
    </div>
  </div>

  <div class=" row  feature-light-grey product-feature-container-fluid">
    <div class="product-feature">
      <div class="row ">
        <div class="col-md-6 text-md-left">

          <img class="img-responsive" src="/assets/images/x-terra_v-flex.png">
        </div>

        <div class="col-md-6 ">
          <h2>VFLEX Technology</h2>
          <p></p>
          <p>This&nbsp;allows&nbsp;you to change the frequency simply by changing coils.</p>
          <p></p>
        </div>

      </div>
    </div>
  </div>
  <div class="row feature-light-grey product-feature-container-fluid">
    <div class="container product-feature">

      <div class="row flex-md-row-reverse">
        <div class="col-md-6 text-md-right">


          <img class="img-responsive" src="/assets/images/x-terra_coils.png"></div>

        <div class="col-md-6">
          <h2>Coil Compatibility</h2>
          <p></p>
          <ul>
            <li>Standard 18.75kHz Double-D elliptical coil provides effective depth and ground coverage, plus the coil’s
              high frequency is extremely sensitive and perfectly suited for finding small pieces of gold.
            </li>
            <li>Standard 7.5 kHz Concentric coil is waterproof, suitable for detecting on beach and riverside</li>
          </ul>
          <p></p>
        </div>

      </div> <!-- .row -->

    </div> <!-- container product-feature -->
  </div>


  <div class="container ">
    <div class="row row-product-grid-features">

      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/icon-targetid-detector.png"></div>
        <div class="product-feature-result-name">
          <h3>Target ID Stability</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Target ID stability – precise, solid responsiveness in high-trash areas enabling you to efficiently and
            effectively search sites with a high concentration of junk.</p>

          <p>Threshold tone for more accurate target ID interpretation.</p>

          <p>Also a great coin detector with highly accurate discrimination and numeric target identification.</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/search-modes.png"></div>
        <div class="product-feature-result-name">
          <h3>Four preset detecting patterns</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Customisable and includes All-Metal mode</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/prospecting-mode.png"></div>
        <div class="product-feature-result-name">
          <h3>Prospecting Mode</h3>
        </div>
        <div class="product-feature-result-text">
          <p>The specialised Prospecting Mode has improved sensitivity making the detector more sensitive to small
            target signals. The Prospecting Mode can be used in highly mineralised, 'difficult' areas.&nbsp;The
            Prospecting Mode is ideal not only when searching for gold nuggets but also for small relics and some types
            of jewellery.</p>

          <p>&nbsp;</p>
        </div>

      </div>

    </div>
    <div class="row row-product-grid-features">

      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/trash-density.png"></div>
        <div class="product-feature-result-name">
          <h3>Adjustable Iron Mask</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Designed for Prospecting Mode. This feature allows you to find desirable targets lying close to ferrous
            metals.</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/icon-groundbalance-detector.png"></div>
        <div class="product-feature-result-name">
          <h3>Automatic &amp; Manual Ground Balance</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Automatic/Manual Ground Balancing, Tracking and now with Tracking Ground Balance Offset adjustment. This
            creates a performance advantage in certain areas such as wet/dry sand transition and hot rock locations, by
            setting the balance slightly positive or negative.&nbsp;</p>

          <p>True automatic Ground Balance eliminates false ground noises so you can hear elusive small gold
            signals.</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/icon-pinpoint.png"></div>
        <div class="product-feature-result-name">
          <h3>Pinpoint Modes</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Two Pinpoint Modes: Auto and Sizing.&nbsp;</p>

          <p>Depth indicators&nbsp;update continuously, even in Pinpoint mode.&nbsp;</p>
        </div>

      </div>

    </div>
    <div class="row row-product-grid-features">

      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/noise-cancel.png"></div>
        <div class="product-feature-result-name">
          <h3>Noise Cancel</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Effective noise cancel reduces interference.&nbsp;</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/icon-sleeklight-detector.png"></div>
        <div class="product-feature-result-name">
          <h3>Lightweight</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Lightweight, balanced design (only 1.3kgs) so you can enjoy detecting for longer periods.&nbsp;</p>
        </div>

      </div>


      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/lcd-display.png"></div>
        <div class="product-feature-result-name">
          <h3>LCD Display</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Positive transflective LCD display providing a back light only in dim light conditions enabling better
            screen visibility in poor lighting whilst saving battery charge in well lit conditions.</p>
        </div>

      </div>

    </div>
    <div class="row row-product-grid-features">

      <div class="col-md-4 product-feature-result">
        <div class="product-feature-result-image" style="height: 80px; margin-top: 70px; margin-bottom: 22px">
          <img src="/assets/images/icon-rechargable-battery.png"></div>
        <div class="product-feature-result-name">
          <h3>4 x AA Batteries</h3>
        </div>
        <div class="product-feature-result-text">
          <p>Runs on just 4 x AA batteries.</p>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 product-features-heading">
      <h2>Accesseroies</h2>
    </div>
  </div>
  <div class="container">
    <div class="row row-productlist accessories-list">

      <div class="col-md-4 product-result">
        <div class="product-result-image">
          <a routerLink="">
            <img alt="X-TERRA 6&quot; Concentric Coil (7.5 kHz)" class="img-responsive" src="assets/images/coil.png"
                 title="XTERRA_6Inch-7.5kHz-Coil_LandingPage_Transparent.png">
          </a>
        </div>

        <div class="product-result-name">

          <a routerLink=""><h5>X-TERRA 6" Concentric Coil (7.5 kHz)</h5></a>
        </div>

        <div class="product-result-text">
          For X-TERRA Series Detectors.
        </div>


      </div>

    </div>
  </div>


  <div class="row end-bg">
    <div class="col-12"></div>
  </div>
</div>
