.row {
  /*background-image: url("assets/images/back1.jpg");*/
  background-image: url("/assets/images/back1.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  background-position-x: center;
  background-size: cover;
  min-height: 100vh;
  color:white;
}
.form-container{
  padding:5px 5%

}
.promo-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding:5px 5%
  /*justify-content: center; flex-direction: column;*/
}
.form-control.ng-invalid.ng-touched{
  border:1px solid #ff465555 ;
  box-shadow: #00aced 0px 0px 5px;

}

select {
  width: 50%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: #c0392b;
  border: none;
  border-bottom: 2px solid #962d22;
  color: white;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}



select:hover,
select:focus {
  color: #c0392b;
  background-color: white;
  border-bottom-color: #DCDCDC;
}
select:hover ~ .select-icon,
select:focus ~ .select-icon {
  background-color: white;
  border-color: #DCDCDC;
}
select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: #c0392b;
}
.buttonN{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
border-radius:0.12em;
  box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   text-align:center;
   transition: all 0.2s;
}
.buttonN:hover{
  color:#000000 ;
   background-color:#FFFFFF;
}
@media all and (max-width:30em){
   .buttonN {
    display: block;
    max-width: .04em;
  }
}
