<div class="row">
<div class="col-md-6">
  <div class="form-container">


        <h3>Subscribe to our newsletter for update on our new products.</h3>


    <form class="container" ngForm #f='ngForm'>
      <div class="form-group  ">
        <label class="col-sm-2" for="username">Name</label>
        <input class="form-control col-sm-9 "
               type="text"
               name="username"
               id="username"
               #username="ngModel"
               ngModel required>
        <p class=""
           *ngIf="username.touched && !username.valid">
          Please Provide a Name
        </p>
      </div>
      <div class="form-group  ">
        <label class="col-sm-2" for="email">Email</label>
        <input class="form-control col-sm-9 "
               email
               type="email" #email="ngModel"
               name="email"  id="email"
               ngModel required>
        <p class=""
           *ngIf="email.touched && !email.valid">
          Please Provide a valid Email
        </p>
      </div>
      <div class="" >
        <button class="btn btn-info" type="button" (click)="onSubscribe()">Subscribe</button>
      </div>
<!--      <select name="regionSelect" #regionSelect="ngModel" ngModel>-->
<!--        <option>Select region</option>-->
<!--        <option *ngFor="let region of regions; "  [value]="region"  >{{region.regionName}}</option>-->

<!--      </select>-->
<!--      <p *ngIf="regionSelect.value" >-->
<!--        <span *ngFor="let country of regionSelect.value.countries ">-->
<!--          {{country}}-->
<!--        </span>-->
<!--        {{regions[0]}}-->
<!--      </p>-->
    </form>
    <form [formGroup]="countryForm" (ngSubmit)="countryShow()">
        <select formControlName="regionSelector"  #regionSelector >
          <option *ngFor="let region of regions" [value]="region.regionName">{{region.regionName}}</option>
        </select>
      <div *ngIf="countryForm.get('regionSelector').value">
          {{ selectedRegion.regionName}}
        <select formControlName="countrySelector"  #countrySelector >
          <option *ngFor="let country of selectedRegion.countries" [value]="country.countryName">{{country.countryName}}</option>
        </select>
      </div>

      <button type="submit">submit</button>
    </form>
  </div>
</div>

</div>
