.row {
  /*background-image: url("assets/images/back1.jpg");*/
  background-image: url("/assets/images/back1.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  background-position-x: center;
  background-size: cover;
  min-height: 100vh;
  color:white;
}
.form-container{
  padding:20px 10px
}
.form-control.ng-invalid.ng-touched{
  border:1px solid #ff465555 ;
  box-shadow: #00aced 0px 0px 5px;

}
