<div class="row">
<div class="col-md-6">
  <div class="promo-container">


        <h3>Subscribe To Our Newsletter For Update On Our New Products.</h3>

  </div>
</div>
  <div class="col-md-6">
    <div class="form-container">
    <form class="container" ngForm #f='ngForm'>
      <div class="form-group  ">
        <label class="col-sm-2" for="username">Name</label>
        <input class="form-control col-sm-9 "
               type="text"
               name="username"
               id="username"
               #username="ngModel"
               ngModel required>
        <p class=""
           *ngIf="username.touched && !username.valid">
          Please Provide a Name
        </p>
      </div>
      <div class="form-group  ">
        <label class="col-sm-2" for="email">Email</label>
        <input class="form-control col-sm-9 "
               email
               type="email" #email="ngModel"
               name="email"  id="email"
               ngModel required>
        <p class=""
           *ngIf="email.touched && !email.valid">
          Please Provide a valid Email
        </p>
      </div>
      <div class="" >
        <button class="buttonN" type="button" (click)="onSubscribe()">Subscribe</button>
      </div>
    </form>
  </div>
</div>
<div class="col-md-6">
  <div class="promo-container">
  <h3>Find Dealer in Your Country</h3>
  </div>
</div>
  <div class="col-md-6">
    <div class="form-container">
  <form [formGroup]="countryForm" >
      <div class="form-group dropdown-container">
        <label for="region">Select region</label>
        <select formControlName="regionSelector" [ngModel]="'0'"  id="region" #regionSelector  class="form-control">
          <option [value]="'0'" [selected]="true">Select a Region</option>
          <option *ngFor="let region of regions" [value]="region.regionName">{{region.regionName}}</option>
        </select>

      </div>
      <div *ngIf="!(countryForm.get('regionSelector').value==='0')" class="form-group">
        <label for="region">Select Country</label>

        <select formControlName="countrySelector" [ngModel]="'0'"  #countrySelector  class="form-control">
          <option  [value]="'0'"> Select A Country</option>
          <option *ngFor="let country of selectedRegion.countries" [value]="country.countryName">{{country.countryName}}</option>
        </select>
      </div>

      <button  class="buttonN" type="submit">Find Dealers</button>
    </form>
</div>
</div>
</div>
